meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title MWF - Landing Page
link(rel="stylesheet", href="/public/CSS/index.css")

section.hero
  div
    h1 Welcome to MWF Wood & Furniture
    p Your trusted B2B partner for quality timber and furniture solutions.
    .buttons
      a.btn.signup(href="/signup") Sign up
      a.btn.signin(href="/signin") Sign in

script(src="/public/index.js")
