meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Logout
link(rel="stylesheet", href="/public/CSS/logout.css")
.logout-container
  h2 You have been logged out
  p Thank you for using!
  .button-group
    a.btn(href="/index.html") Back to Home
    a.btn.secondary(href="/signin.html") Log in