meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Non User
link(rel="stylesheet", href="/CSS/nonuser.css")
h1 User Not Found
p Sorry, the user you tried to access does not exist.
a(href="/signin") Back to Login