meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Login Page
link(rel="stylesheet", href="/CSS/signin.css")
form(action='/signin' method='post')
.container
  h2 Login here
  form#loginForm
    //  Username 
    label Username
    input#username(type="text", placeholder)
    #userError.error
    //  Password 
    label Password
    input#password(type="password", placeholder)
    #passError.error
    //  Submit 
    button(type="submit") Login
  p
    | Do not have an account? 
    a(href="signup.html") Sign up
script(src="signin.js")