meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Stock Registration
link(rel="stylesheet", href="/css/stock.css")
.form-container
  h2 Stock Registration Form
  form(action="/stock", method="post")
    //  Product Name 
    .form-group
      label(for="product") Product Name
      select#productName(name="productName", required)
        option(value) -- Select Product --
        option(value="sofa") Sofa
        option(value="dining-table") Dining Table
        option(value="bed") Bed
        option(value="chair") Chair
        option(value="timber") Timber
        option(value="table") Table      
        option(value="poles") poles
        option(value="Hardwood") Hardwood
    //  Product Type 
    .form-group
      label(for="productType") Product Type
      select#productType(name="productType", required)
        option(value) -- Select Type --
        option(value="furniture") Furniture
        option(value="wood") Wood
    //  Quantity 
    .form-group
      label(for="quantity") Quantity
      input#quantity(type="number", name="quantity", min="1", required, placeholder="Enter quantity")
    //  Quality 
    .form-group
      label(for="quality") Quality
      select#quality(name="quality", required)
        option(value) -- Select Quality --
        option(value="high") High
        option(value="medium") Medium
        option(value="low") Low
    //  Unit Price 
    .form-group
      label(for="costPrice") Unit Cost Price (shs)
      input#costPrice(type="number", name="costPrice", min="1", step="0.01", required, placeholder)
    //  Unit Selling Price 
    .form-group
      label(for="sellingPrice") Unit Selling Price (shs)
      input#sellingPrice(type="number", name="sellingPrice", min="1", step="0.01", required, placeholder)
    //  Supplier 
    .form-group
      label(for="supplierName") Supplier Name
      input#supplierName(type="text", name="supplierName", minlength="3", required, placeholder)
    //  Date 
    .form-group
      label(for="date") Date of Stock
      input#date(type="date", name="date", required)
    //  Submit Button 
    button.btn(type="submit") Add Stock