body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    font-size: larger;
    background: url(../image/new.jpg); background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
    
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}
 

/* .hero-content {
    background: rgba(183, 17, 17, 0.6);
    padding: 150px;
    border-radius: 12px; */
/* } */

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    margin-bottom: 25px;
}

.buttons .btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn.signup {
    background: plum;
    color: black;
}

.btn.signup:hover {
    background: gray;
}

.btn.signin {
    background: #2980b9;
    color: white;
}

.btn.signin:hover {
    background: #1c5985;
}

/* Remove underline and make links look like buttons */
a.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;   /* removes underline */
  color: #fff;
  transition: background 0.3s ease;
}

/* Sign up button */
a.btn.signup {
  background: gray;  /* green */
}

a.btn.signup:hover {
  background: gray;
}

/* Sign in button */
a.btn.signin {
  background: black;  /* blue */
}

a.btn.signin:hover {
  background: black;
}
