body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../image/lates.jpg);
    color: #333;
}

header {
    background: gray;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background: gray;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav button {
    background: black;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

nav button:hover {
    background: black;
}

section {
    padding: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
}
#report-section {
color: white;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
    font-size: 14px;
}

th {
    background: #2c3e50;
    color: white;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

.hidden {
    display: none;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding:  12px 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .navbar ul {
    list-style:  none;
    margin: 0;
    padding: flex;
    gap: 20px;
  }
  .navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #ecf0f1;            /* light gray text */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #34495e; /* hover effect */
    color: #ffffff;

}