body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(../image/lates.jpg);
}

.container {
    background:gray;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    border-color: plum;
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: white;
}

p {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}